<section class="clints >
    <div class=" container headings text-center">
    <h1 class="text-center font-weight-bold "> Our happy clints</h1>
    <p>Our satishfied customer says</p>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner container">
            <div class="carousel-item active">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                       <div class = "box">
                         <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>

                         <p class="m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa! Vero hic veniam laboriosam quos vel!
                         </p>
                         <h1>rituraj</h1>
                         <h2>web developer</h2>
                       </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                       <div class = "box">
                         <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>

                         <p class="m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa! Vero hic veniam laboriosam quos vel!
                         </p>
                         <h1>rituraj</h1>
                         <h2>web developer</h2>
                       </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                       <div class = "box">
                         <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>

                         <p class="m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa! Vero hic veniam laboriosam quos vel!
                         </p>
                         <h1>rituraj</h1>
                         <h2>web developer</h2>
                       </div>
                    </div>

                </div>


            </div>
            <div class="carousel-item">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="box">
                        <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>
            
                        <p class="m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa!
                            Vero hic veniam laboriosam quos vel!
                        </p>
                        <h1>rituraj</h1>
                        <h2>web developer</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="box">
                        <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>
            
                        <p class="m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa!
                            Vero hic veniam laboriosam quos vel!
                        </p>
                        <h1>rituraj</h1>
                        <h2>web developer</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="box">
                        <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>
            
                        <p class="m-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa!
                            Vero hic veniam laboriosam quos vel!
                        </p>
                        <h1>rituraj</h1>
                        <h2>web developer</h2>
                    </div>
                </div>
            
            </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>
                
                            <p class="m-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa!
                                Vero hic veniam laboriosam quos vel!
                            </p>
                            <h1>rituraj</h1>
                            <h2>web developer</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>
                
                            <p class="m-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa!
                                Vero hic veniam laboriosam quos vel!
                            </p>
                            <h1>rituraj</h1>
                            <h2>web developer</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="box">
                            <a href=""><img src="images/img2.jpg" class="img-fluid img-thumbnail"></a>
                
                            <p class="m-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nisi dicta dolor voluptatem culpa!
                                Vero hic veniam laboriosam quos vel!
                            </p>
                            <h1>rituraj</h1>
                            <h2>web developer</h2>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>