<section class="project-work">
    <div class="container headings text-center">

        <p class="text-center font-weight-bold">More than 2000 website created </p>
    </div>

    <div class="container d-flex justify-content-around align-item-center text-center">
        <div>
            <h1  class="count1">245</h1>
            <p>subscribers</p>
        </div>
    

    <div>
        <h1 class="count2">342</h1>
        <p>contomers</p>
    </div>
    

    <div>
        <h1 class="count3">189</h1>
        <p> free videos</p>
    </div>
  

    <div>
        <h1 class="count4">346</h1>
        <p>services</p>
    </div>
    </div>
    </div>

</section>